<h1>Mis Productos Favoritos</h1>

<!-- Si hay productos -->
<div *ngIf="productosEnFavorito.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productosEnFavorito">
        <td><img [src]="item.producto.imagen" alt="{{item.producto.nombre}}" style="width: 50px; height: 50px;"></td>
        <td>{{ item.producto.nombre }}</td>
        <td>{{ item.producto.descripcion }}</td>
        <td>{{ item.producto.precio | currency }}</td>
        <td>
          <button (click)="eliminarFavorito(item.producto.id)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="acciones mt-3">
    <button (click)="vaciarFavorito()" class="btn btn-secondary">Vaciar Favoritos</button>
  </div>
</div>


<div *ngIf="productosEnFavorito.length === 0" >
  <p class="sin-productos">No hay productos en favoritos.</p>
</div>
