 body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #032F2F; /* Fondo verde de la página */
    color: white;
  }
  
  .logo-img {
    height: 52px; /*tamaño del logo*/
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #032F2F; /* Fondo verde del navbar */
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .navbar-logo {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2rem;
  }
  
  .navbar-links li {
    display: flex;
    align-items: center;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #a5d6a7; /* Verde claro al pasar el mouse */
  }
  
  .carrito-link i {
    margin-right: 5px;
  }
