body {
  margin: 0;
  font-family: Arial, sans-serif;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

.footer-text {
  margin-bottom: 10px;
}

       